.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1907px;
}

.u-section-1 .u-shape-1 {
  width: 989px;
  margin-right: 76px;
}

.u-section-1 .u-image-1 {
  width: 934px;
  height: 308px;
  margin: 35px auto 0 94px;
}

.u-section-1 .u-group-1 {
  width: 266px;
  background-image: none;
  min-height: 239px;
  margin: 39px auto 0 57px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-video-1 {
  width: 256px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -219px 333px 0 628px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 19px 163px 0 458px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 219px 706px 0 271px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 25px 506px 0 114px;
}

.u-section-1 .u-image-2 {
  width: 406px;
  height: 237px;
  margin: -163px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 1060px;
  height: 319px;
  margin: 44px auto 0 40px;
}

.u-section-1 .u-line-1 {
  height: 249px;
  transform-origin: center top 0px;
  width: 4px;
  margin: -284px auto 0 568px;
}

.u-section-1 .u-text-5 {
  margin: -260px 592px 0 64px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 20px 592px 0 64px;
}

.u-section-1 .u-image-3 {
  width: 453px;
  height: 260px;
  margin: -208px 76px 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  width: 206px;
  margin: 52px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  width: 301px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 20px 419px 0 420px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 20px 315px 0 420px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 15px 390px 60px 420px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 570px;
    left: 0;
    right: auto;
    margin-right: initial;
  }

  .u-section-1 .u-image-1 {
    margin-left: 6px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -359px;
  }

  .u-section-1 .u-video-1 {
    width: 245px;
    left: auto;
    right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 284px;
    margin-left: 528px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 63px;
    margin-left: 358px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 369px;
    margin-right: 606px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 406px;
    margin-left: 14px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -107px;
  }

  .u-section-1 .u-shape-2 {
    width: 940px;
    margin-top: -95px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 455px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 455px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    width: 301px;
    margin-left: 320px;
    margin-right: 319px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 214px;
    margin-left: 320px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 290px;
    margin-left: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1836px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 237px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -539px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 218px;
    margin-left: 418px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 201px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 496px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 200px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 235px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 235px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 210px;
    margin-right: 209px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 104px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 180px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1777px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: initial;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 178px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 164px;
    margin-left: 328px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 21px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 377px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 20px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-top: -78px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 536px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 55px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 55px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 120px;
    margin-right: 119px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 14px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 90px;
    margin-left: 120px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1607px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-right: initial;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 112px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -259px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 103px;
    margin-left: 161px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 377px;
    margin-right: 177px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 198px;
    margin-top: -141px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-top: 68px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 336px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 195px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 20px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 20px;
  }
}