.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1391px;
}

.u-section-1 .u-group-1 {
  width: 837px;
  left: 138px;
  right: auto;
  min-height: 1391px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -8px 298px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 407px;
  margin: 29px auto 0;
}

.u-section-1 .u-image-1 {
  width: 210px;
  height: 258px;
  margin: 8px auto 0 30px;
}

.u-section-1 .u-image-2 {
  width: 210px;
  height: 258px;
  margin: -258px auto 0 537px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 8px 407px 0 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -39px -102px 0 544px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 20px 295px 0 327px;
}

.u-section-1 .u-image-3 {
  width: 210px;
  height: 258px;
  margin: 48px auto 0 299px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 19px -125px 0 250px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 45px 292px 0 302px;
}

.u-section-1 .u-image-4 {
  width: 210px;
  height: 258px;
  margin: 23px auto 0 37px;
}

.u-section-1 .u-image-5 {
  width: 210px;
  height: 258px;
  margin: -258px auto 0 537px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 19px 532px 0 39px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: -39px 40px 0 547px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    left: 103px;
    min-height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    left: 0;
    min-height: auto;
  }

  .u-section-1 .u-image-2 {
    margin-left: 450px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 320px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 31px;
    margin-left: 486px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 237px;
    margin-left: 278px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 192px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 248px;
    margin-left: 244px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 450px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 454px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 470px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 310px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 180px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 24px;
    margin-left: 416px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 167px;
    margin-left: 219px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 195px;
    margin-left: 174px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 310px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 314px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 330px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: auto;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 15px;
    margin-left: 316px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 67px;
    margin-left: 135px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 120px;
    margin-left: 74px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 114px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 130px;
  }
}